<div class="page-div">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/Home" routerLinkActive="selected" class="list">
        <span class="material-icons">home</span>
        Home
      </a>
      <a routerLink="/Groups" routerLinkActive="selected" class="list">
        <span class="material-icons">groups</span>
        Groups</a>
        <a routerLink="/Chat" routerLinkActive="selected" class="list">
          <span class="material-icons">question_answer</span>
        Chat</a>
        <a routerLink="/Delete-Account" routerLinkActive="selected" class="list">
          <span class="material-icons">delete_forever</span>
        Delete Account</a>
    </div>
  </div>
  <div class="page-contain-container"> <router-outlet></router-outlet></div>
   
</div>

